<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Album</h1>
<div th:object="${album}">
  <p>Album Title: <span th:text="${album.title}"></span></p>
  <p>Artist: <span th:text="${album.artist}"></span></p>
  <p>Song Count: <span th:text="${album.songCount}"></span></p>
<!--  <p>Album Songs: <span th:text="${album.songs}"></span></p>-->
    <h3>SONGS</h3>
    <div th:each="song :${album.songs}">
        <p>Song Title: <span th:text="${song.title}"></span></p>
        <p>length: <span th:text="${song.length}"></span></p>
        <p>trackNumber: <span th:text="${song.trackNumber}"></span></p>
        <p>-----------</p>
    </div>


    <img th:src="${album.imageUrl}" >
</div>

</body>
</html>