<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
</head>
<body>
<h1>Form</h1>
<form th:action="@{/addalbum}" th:object="${Album}" method="post">
    <p>title:<input type="text" field="*{title}" name="title" /></p>
    <p>artist: <input type="text" field="*{artist}" name="artist"/></p>
    <p>imageUrl: <input type="text" field="*{imageUrl}" name="imageUrl"/></p>
    <p>songCount: <input type="text" field="*{songCount}" name="songCount"/></p>
    <p>length: <input type="text" field="*{length}" name="length"/></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<h1>Albums</h1>
<div th:each="album : ${albums}">
    <p>Album Title: <span th:text="${album.title}"></span></p>
    <p>Artist: <span th:text="${album.artist}"></span></p>
    <p>Song Count: <span th:text="${album.songCount}"></span></p>
    <img th:src="${album.imageUrl}" >
</div>
</body>
</html>

