<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="splash.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
<h1><a href="http://localhost:8080/albums">Albums</a></h1>
</header>
<body>
<h2>WELCOOOOOOOOOOOOOME</h2>
</body>
<footer id="index-footer">
    <div id="copyrights">
        <p>
            Copyright &copy; 2021 All Rights Reserved
        </p>
    </div>
    <div id="icons">
        <ul class="social-icons">
            <li><a target="_blank" class="facebook" href="https://facebook.com/"><i class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" class="twitter" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" class="youtube" href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
            </li>
            <li><a target="_blank" class="linkedin" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>

